[user]
  name = Lucas Chiesa
  email = lucas.chiesa@gmail.com
  # You need to have the private key for this to work.
  signingkey = E60D6F9E39E40F25F743EFCFC8B4F7E14C0B69F3

[alias]
  co = checkout
  ci = commit
  st = status
  b = branch -a
  c = clone
  hist = log --graph --oneline --decorate --color
  chg = log --oneline --no-merges --decorate
  diffs = diff --staged
  r = remote -v
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
  graph = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"

[color]
  ui = true

[interactive]
  singlekey = true

[push]
  default = simple
  followTags = true

[github]
  user = tulku

# Always use ssh for github, even if the remote URL uses
# https or git
[url "git@github.com:"]
  insteadOf = git://github.com/
[url "git@github.com:"]
  insteadOf = https://github.com/
